body {
    font-family: "Arial", Sans-serif;
    margin-top: 10%;
    margin-bottom: 0%;
    background-color: #40434e;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    text-align: center;
    color: #dce1de;
}

h2 {
    text-align: center;
    color: #dce1de;
}

p {
    text-align: center;
    color: #dce1de;
}

a {
    text-align: center;
    color: #9cc5a1;
}

a.button {
    font-size: 32pt;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    /* margin-left: 35%;
    margin-right: 35%; */
    border-radius: 7px;
    background-color: #9cc5a1;
    color: #40434e;
    text-decoration: none;
}

a.button + a.button {
    margin-left: 30px;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #dce1de;
    text-align: center;
  }
