<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WildMagic Project Home</title>
  <meta name="description" content="If you don't know what this is already, the description tag won't help you.">
  <meta name="author" content="klang@illinois.edu">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body>

    <h1>You somehow rolled a 0? I'm 99% sure that's not possible, but here's a reward
        for your ingenuity.</h1>
    
    <video
    id="gif-mp4"
    poster="https://media.giphy.com/media/3o7qEbukQhgu3v1Ci4/200_s.gif"
    style="margin:0;padding:0"
    width="300"
    height="300"
    autoplay
    loop>

        <source src="https://media.giphy.com/media/3o7qEbukQhgu3v1Ci4/giphy.mp4" type="video/mp4"></source>
        Your browser does not support the mp4 video codec.

    </video>

</body>
</html>